.nav_holder{
    position: absolute;
    top: 0;
    width: 100vw;
}


.login{
    width: 100vw;
    height: 100vh;
    /* background-color: #1b1f32; */
    display: flex;
    justify-content: space-between;
}

.login_container{
    min-width: 50vw;
    display: grid;
    place-content: center;
}
.login_header p:first-child{
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
}
:root {
    --primary-color: #505dd6;
    --color-input-text: #b6b9c9;
    --color-border: #33374d;
    --bg-color: #0e101b;
    --form-bg: #1b1f32;
    --border-radius: 3px;
}

.login-form {
    max-width:30vw;
    padding: 2rem 0px; 
    /* background: var(--form-bg); */
    border-radius: calc(var(--border-radius) * 2);
}
.input-floating-label {
    position: relative;
    margin-bottom: 24px;
    width: 15vw;
}
.input-floating-label .input {
    font-family: inherit;
    width: 100%;
    display: block;
    border: 0;
    border: 2px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    font-size: 1rem;
    color: var(--color-input-text);
    padding: 18px 12px;
    background: transparent;
    transition: border-color 0.2s;
}
.input-floating-label .input:required, .input-floating-label .input:invalid {
    box-shadow: none;
}
.input-floating-label .input::placeholder {
    color: transparent;
}
.input-floating-label .input:placeholder-shown {
    border-color: var(--color-border);
}
.input-floating-label .input:placeholder-shown ~ label {
    font-size: 1rem;
    cursor: text;
    transform: translatey(19px);
    padding: 0px 0px;
    color: #b6b9c9;
}
.input-floating-label label {
    position: absolute;
    left: 12px;
    display: block;
    transform: translatey(-7px);
    transition: 0.3s;
    font-size: 0.75rem;
    padding: 0px 8px;
    color: #b6b9c9;
    background: white;
    top: 0;
}
.input-floating-label .input:focus {
    border-color: var(--primary-color);
}
.input-floating-label .input:focus ~ label {
    position: absolute;
    transform: translatey(-7px);
    color: var(--primary-color);
    padding: 0px 8px;
    font-size: 0.75rem;
}

.input-floating-label label{
    display: flex;
    align-items: center;
    /* padding: ; */
}

.input-floating-label label span{
    padding: 0px 8px;
}
.btn-submit {
    padding: 12px 27px;
    border-radius: var(--border-radius);
    border: none;
    background: var(--primary-color);
    font-family: sans-serif;
    font-size:20px;
    line-height: 1;
    background-color: #080d17;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 40px;
}
.btn-submit:focus {
    box-shadow: 0px 0px 4px var(--primary-color);
}
.btn-submit:active {
    transform: scale(1.04) translatey(2px);
}


.login_img{
    width:50vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/images/logibg.avif');

}