.test_container{
    width: 70vw;
    border: 1px solid #505dd6ac;
    margin: 5vh 0px;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
}

@media(max-width:1124px){
    .test_container{
        width: 85vw;
    }
}

.test_container .test_header p{
    font-weight: bold;
    font-size: 22px;
}

.test_container .test_header p span{
    font-weight: 500;
    margin-left: 12px;
}

.test_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

.test_header p{
    margin-left: 20px;
    color: rgb(32,33,36);;
}
.test_wrapper{
    text-align: left;
}

.test_content_item{
    margin: 20px 0px;
    padding-top: 15px;
    /* padding-bottom: 16px; */
    border-top: 1px solid #505dd633;
}

.content_item{
    padding-top: 15px;
    width: max-content;
    /* padding: 15px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_item span{
    font-size: 18px;
    padding: 10px;

    /* font-weight: 600; */
}

.content_item span input{
    padding: 8px 20px;
    width: 50px;
    border-radius: 9px;
    margin-left: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    border: 1px solid #000;
    text-align: center;
}

.add{
    display: flex;
    align-items: center;
}

.add ion-icon{
    padding-left: 12px;
}

.test_content_item span{
    display: flex;
    align-items: center;
}

.test_content_item span input{
    padding: 8px 20px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 9px;
    margin-left: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    border: 1px solid #000;
    text-align: center;
}
.test_container_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.test_data_box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0px 20px;
}

.test_data_box input{
    padding: 8px 20px;
    width: 50px;
    border-radius: 9px;
    outline: none;
    border: none;
    border: 1px solid #000;
}
.test_container_box{
    border-bottom:1px solid #505dd633;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.test_container_box p{
    width: 20vw;
    display: flex;
    /* background-color: #505dd6; */
    align-items: center;
    /* font-weight: 600; */
}

.test_container_box p ion-icon{
    margin: 0px 12px;
}
.test_container_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 12px 0px;
    /* background-color: antiquewhite; */
    width: 60vw;
    overflow-x: scroll;
}

.skip{
    display: flex;
    padding: 20px 0px;
    color: #505dd6;
    transition: all 400ms ease-in-out;
}

.skip ion-icon{
    transition: all 400ms ease-in-out;
    margin-left: 20px;
}

.skip:hover ion-icon{
    transition: all 400ms ease-in-out;
    transform: rotateZ(-45deg);
    /* transform: translateX(10px) */
}

.input_name{
    display: flex;
    justify-content: start;
    align-items: center;
}

.input_name label{
    margin: 0px 20px;
    font-weight: 600;
}

.test_container_inputs::-webkit-scrollbar{
    height:  7px;
    margin: 12px;
}


.test_container_inputs::-webkit-scrollbar-track {
    border-radius:10px;
  }